NEXT_PUBLIC_SUPABASE_URL=https://luykepohngqwqozugmdc.supabase.co
sb_publishable_41tStENEXT_PUBLIC_SUPABASE_ANON_KEY=VeFZlmAWGp1VlRkg_MdF0kmhQ
NEXT_PUBLIC_API_URL=https://ladimood-back-production.up.railway.app/api/v1